.card{
  background-color: gray;
  color: white;
  height: 400px;
  width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}