.card{
  background-color: gray;
  color: white;
  height: 400px;
  width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
  margin-bottom: 15px;
  padding: 15px;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* background-color: dodgerblue; */
  padding: 10px;
  gap: 10px;
}